				<script type="text/javascript" src="indexdata/graphics/360-gui/js/index_krpano.js">
					</script>
				<script type="text/javascript">
					if (isVRModeRequested()){
						accessWebVr();
					}else{
						accessStdVr();
					}
				</script>