
<krpano >







  <general
	ga_code="UA-"
	desktop_tablet_init_max_fov="75"
	mobile_init_max_fov="100"
	mobile_init_max_fov_landscape="70"
	max_zoom="75"

		options_button_bg_inactive="eeeeee"
		options_button_bg_active="c78283"
		options_button_color="C60001"
		main_menu_font="opensans"
		logo_text_font="opensans"
		lang_codes="en"


	loader_size="70"
	loader_thickness="6"
	loader_bg_color="ffffff"
	loader_bg_alpha="0.4"
	loader_fg_color="ffffff"
	loader_speed="6"

	hostpot_scale_over="1.15"
	hotspot_tooltip_bg_color="C60001"
	hotspot_tooltip_bg_alpha="0.75"
	hotspot_tooltip_font="opensans"
	hotspot_tooltip_font_size="16"
	hotspot_tooltip_font_color="ffffff"
	hotspot_tooltip_font_color_shadow="no"
	hotspot_tooltip_round_edge="0"


	only_1st_level_menu="false"
	hide_floating_menu="false"

  	/>  

  <desktop
		menu_height="100"
	menu_x_offset="200"
	menu_y_offset="0"
	menu_align="right"
	menu_color="ffffff"
	menu_alpha="1"

	bg_image_height="7"
	bg_image_width="1680"
	bg_image_y_offset="93"
	
	logo_height="75"
	logo_x_offset="50"
	logo_y_offset="0"

	logo_text_font_size="13"
	logo_text_font_color="ffffff"
	logo_text_width="150"
	logo_text_height="auto"
	logo_text_x_offset="110"
	logo_text_y_offset="12"

	main_menu_font_size="14"
	main_menu_font_size_smaller="13"
	main_menu_font_size_smaller_resolution="1920"

	main_menu_font_style="regular"
		main_menu_font_color="3A3A3A"
		main_menu_font_color_over="C60001"
	main_menu_text_spacing="15"
	main_menu_text_y_offset="15"
	main_menu_bg_color_over="000000"
	main_menu_bg_alpha_over="0.0"
	main_menu_bold_check="false"

	options_menu_icon="arrow_drop_down"
	options_menu_icon_size="18"
	options_menu_icon_y_offset="2"
	options_menu_icon_item_x_offset="5"

	lang_menu_width="80"
	lang_menu_text_x_offset="45"
	lang_menu_flag_x_offset="20"


	sub_menu_width="300"
	sub_menu_y_offset="40"
		sub_menu_x_offset="-30"
	sub_menu_bottom_offset="20"
		sub_menu_bg_color="C60001"
	sub_menu_bg_alpha="1"
	sub_menu_bg_round_edge="1"

	sub_menu_item_height="50"
	sub_menu_item_height_smaller="40"
	sub_menu_item_color_over="ffffff"
	sub_menu_item_alpha_over="0.3"
		sub_menu_item_font="opensans"
	sub_menu_item_font_size="14"
	sub_menu_item_font_size_smaller="13"
	sub_menu_item_font_color="ffffff"
	sub_menu_item_font_color_over="ffffff"
	sub_menu_item_x_offset="40"

	sub_menu_bullet="arrow_right"
	sub_menu_bullet_size="16"
	sub_menu_bullet_color="ffffff"
		sub_menu_bullet_color_over="ffffff"
	sub_menu_bullet_x_offset="15"
		sub_menu_bullet_x_offset_anim="5"

	sub_menu_line_width="0"
	sub_menu_line_width_over="0"
	sub_menu_line_color="8dc91b"
	sub_menu_line_color_over="8dc91b"
	sub_menu_line_alpha="0"
	sub_menu_line_alpha_over="0"
	sub_menu_line_x_offset="40"
	sub_menu_line_y_offset="-15"

	sub_menu_options_item_x_offset="20"
	sub_menu_options_icon_y_offset="2"
	sub_menu_options_icon_item_x_offset="10"

	sub_menu_lang_width="200"
	sub_menu_lang_inactive_icon=""
	sub_menu_lang_active_icon="check"
	sub_menu_lang_icon_size="18"
	sub_menu_lang_icon_x_offset="29"
	sub_menu_lang_icon_color="ffffff"
	sub_menu_lang_icon_y_offset="2"
  	/>  



   <mobile

	top_bar_height="50"
		top_bar_color="ffffff"

		top_bar_logo_height="40"
	top_bar_logo_y_offset="3"
	top_bar_logo_x_offset="10"

	top_bar_logo_text_font_size="12"
	top_bar_logo_text_font_color="000000"
	top_bar_logo_text_width="200"
	top_bar_logo_text_x_offset="125"
	top_bar_logo_text_y_offset="3"
	top_bar_logo_centered="false"

	top_bar_menu_icon="menu"
	top_bar_settings_icon="settings"
	top_bar_menu_icon_size="18"
		top_bar_menu_icons_color="333333"
		top_bar_menu_icons_color_over="C60001"
	top_bar_menu_icons_bg_color="ffffff"
	top_bar_menu_icons_bg_alpha="0"
	top_bar_menu_icons_bg_color_over="F9A61A"
	top_bar_menu_icons_bg_alpha_over="0"
	top_bar_icons_font_size="14"

		menu_header_logo_width_percent="60"
		menu_header_logo_x_offset="55"
		menu_header_logo_y_offset="30"
	menu_header_logo_centered="false"

	menu_header_logo_text_font="opensans"
	menu_header_logo_text_font_size="18"
	menu_header_logo_text_font_color="333333"
	menu_header_logo_text_width="200"
	menu_header_logo_text_x_offset="10"
	menu_header_logo_text_y_offset="55"

	menu_header_poweredby_text="Powered by 360 Provideo"
	menu_header_poweredby_text_font="Arial"
	menu_header_poweredby_text_font_size="8"
	menu_header_poweredby_text_font_color="333333"
	menu_header_poweredby_text_font_alpha="0.3"
	menu_header_poweredby_text_width="140"
	menu_header_poweredby_text_x_offset="-5"
	menu_header_poweredby_text_y_offset="10"



	menu_group_y_offset="20"
	menu_group_font_size="13"
	menu_group_font_color="58bcf0"
	menu_group_font_bold="true"
	menu_group_font_caps="true"
	menu_group_icon=""
	menu_group_icon_size="25"
	menu_group_icon_x_offset="0"
	menu_group_text_x_offset="20"
	menu_group_bg_color="ffffff"
	menu_group_bg_alpha="0"

	menu_group_line_color="000000"
	menu_group_line_alpha="0.5"
	menu_group_line_width="250"
	menu_group_line_x_offset="0"


	menu_item_active_bg_color="dddddd"
	menu_item_line_color="000000"
	menu_item_line_alpha="0.0"
	menu_item_line_width="90"

	menu_item_font="opensans"
	menu_item_font_size="14"
	menu_item_font_color="333333"
	menu_item_font_color_active="C60001"
	menu_item_font_style_active="bold"


		menu_item_icon="personal_video"
		menu_item_icon_size="20"
	menu_item_icon_x_offset="20"
	menu_item_text_x_offset="10"

	sub_menu_options_icon_item_x_offset="10"
	sub_menu_options_icon_item_y_offset="3"
	sub_menu_options_x_offset="30"
	sub_menu_options_y_offset="10"
	sub_menu_options_bottom_offset="30"
	sub_menu_options_item_height="50"
	sub_menu_options_line_alpha="0.1"
	sub_menu_options_line_color="f0f0f0"
	sub_menu_options_line_width="250"
	sub_menu_options_line_x_offset="0"

	lang_submenu_icon="public"
	lang_submenu_box_size="45"
	lang_submenu_text_color_over="ffffff"


  	/>  

  <fm_settings
	fm_enabled="true"
	fm_hide_map="true"
	
  	desktop_start_opened="true"
		
  	sub_menu_box_size="45"

	fm_closed_width="340"
	fm_full_width="400"
	fm_closed_height="50"
	fm_closed_alpha="1"
	fm_closed_bgcolor="0xC60001"
	fm_opened_bgcolor="0xC60001"
	fm_image_overlay_color="0xffffff"


	fm_image_alpha="0.2"

	fm_header_icon="menu" 
	fm_header_icon_size="18"
	fm_buttons_font="opensans"
	fm_buttons_font_size="14"
	fm_buttons_font_color="ffe4e4"
	fm_buttons_font_color_over="ffffff"

	fm_buttons_font_color_mobile="ffffff"
	fm_buttons_font_color_mobile_over="C60001"

	pano_description_font="opensans"
	pano_description_font_size="16"
	pano_description_font_color="666666"
	pano_description_font_color_mobile="000000"

	scroll_color="000000"

	custom_spot="true"
	radar_fill_color="0xffffff"
	radar_fill_alpha="0.6"
	radar_offset="-75"
	map_zoom="16"
	map_type="satellite"
	map_heading="30"


	bm_bgcolor="C60001"
	bm_bgalpha="0.8"
	bm_bgalpha_opened="1"
  />  

	<poi_settings
		base_color="0xffffff"
		high_color="0x0277bd"
		header_font_color="ffffff"
		paragraph_font_color="0277bd"
		icon_color="F9A61A"
	/>

	<hsdet

		pointer_size="20"
		width="280"
		edge_radius="2"
		desktop_x_offset="45"
		desktop_y_offset="-50"
		mobile_x_offset="0"
		mobile_y_offset="30"

			bgcolor="0a200d"
		bgalpha="0.8"
		border="0"
		border_color="ffffff"
		border_alpha="1"

		internal_margin="15"
		line_y_offset="5"
		paragraph_y_offset="15"
		bttn_y_offset="20"
		button_bottom_offset="25"

		line_height="1"
		line_color="ffffff"
		line_alpha="0.8"

			bttn_bg_color="ffec0e"
		bttn_bg_alpha="1"
			bttn_bg_color_over="f7dc24"
		bttn_bg_alpha_over="1"
		bttn_border="0"
		bttn_border_color="ffffff"
		bttn_width="110"
		bttn_height="35"
		
		bttn_edge_radius="0"
			bttn_font="Arial"
		bttn_font_size="13"
		bttn_font_color="333333"
		bttn_font_color_over="333333"
		bttn_font_y_offset="3"
		bttn_link_opens_in="_self"

			heading_font="opensans"
		heading_font_size="18"
		heading_font_color="ffec0e"
		heading_font_align="left"
		heading_font_weight="regular"

		close_bttn_color="ffffff"
			close_bttn_color_over="ffec0e"

			paragraph_font="opensans"
		paragraph_font_size_desktop="14"
		paragraph_font_size_mobile="13"
		paragraph_font_color="ffffff"
		paragraph_font_align="left"
		paragraph_line_height="150%"

		icon_directions="directions"
		icon_read_more="open_in_new"
		icon_pano="center_focus_strong"
	/>


</krpano>